# Node dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage reports
coverage/

# Hardhat artifacts
/artifacts/
/cache/

# Contract build info
/build-info/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Build files
/build/
*/build/
dist/
*/dist/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db